#container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 5%;
    background-color: azure;
}
.caixa{
    width: 300px;
    background-color: black;
    color: antiquewhite;
    padding: 15%;
    border-radius: 10px;
    text-align: center;
}
img{
    max-width: 55%;
    max-height: auto;
    width: auto;
    height: auto;
}